.canvas-container {
    position: relative;;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, lightblue , darkblue);
}

.ripple-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.floating-balls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.ball {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 123, 255, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
